@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
    --background: #f5f5f5;
    --background-accent: hsl(0, 0%, 80%);

    --text: #0a0a0a;

    --accent-light: #699ce2;
    --accent-light-hover: #699ce280;
    --accent-dark: #5275ff;
    --accent-dark-hover: #5275ff80;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text);
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    background-color: var(--background);
}

img {
    pointer-events: none;
}

a {
    text-decoration: none;
}

hr {
    border: 0;
    border-bottom: 4px dotted var(--accent-light);
    margin: 16px 0;
}

.container {
    width: 960px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 32px;
    margin-bottom: 32px;
    border-bottom: 8px dotted var(--accent-light);
}

header h1 {
    font-size: 32px;
}

header nav {
    display: flex;
    justify-content: space-between;
    min-width: 20%;
}

header nav a {
    padding: 8px 16px;
    border-radius: 4px;
    transition: 0.3s;
}

header nav a:hover {
    background-color: var(--accent-light-hover);
}

main {
    min-height: fit-content;
    padding: 32px;
}

main section h2 {
    margin-bottom: 16px;
}

main section .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

main section .item {
    display: flex;
    flex-direction: column;
}

main section .item img {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 8px;
}

main section .item h3 {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

main section .item p {
    margin-top: 4px;
}

main section .item svg {
    height: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 32px;
    margin-top: 32px;
    border-top: 8px dotted var(--accent-light);
}

footer nav {
    display: flex;
    justify-content: space-between;
    min-width: 20%;
}

footer nav a {
    padding: 8px 16px;
    border-radius: 4px;
    transition: 0.3s;
}

footer nav a:hover {
    background-color: var(--accent-light-hover);
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    header nav {
        margin-top: 16px;
    }

    main section .items {
        grid-template-columns: repeat(2, 1fr);
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    footer nav {
        margin-top: 16px;
    }
}

@media (max-width: 500px) {
    main section .items {
        grid-template-columns: 1fr;
    }
    
}