.container {
    width: 960px;
    margin: 0 auto;
}

main {
    min-height: calc(100vh - calc(calc(145.2px + 112.6px)) - 64px);
    padding: 32px;
}

main section {
    margin-bottom: 32px;
}

main section h2 {
    width: fit-content;
    font-size: var(--font-medium);
    margin-bottom: 16px;
}

main section p {
    font-size: var(--font-smaller);
}

main section .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

main section .items-skills {
    grid-template-columns: repeat(8, 1fr);
}

main section .items .item,
main section .items .skill-item {
    padding: 8px;
    border-radius: 8px;
    transition: var(--transition-speed) var(--transition-type) background-color;
}

main section .items .item:hover,
main section .items .skill-item:hover {
    background-color: var(--background-accent);
}

main section .items .skill-item {
    display: block;
    font-size: 0px;
    border-radius: 10px;
}

main section .items .item a {
    display: block;
}

main section .items .item img {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 4px;
}

main section .items .item h3,
main section .items .item p {
    display: flex;
    justify-content: space-between;
}

main section .items .item p {
    margin-top: 4px;
}

main section .items .item svg {
    height: 20px;
    fill: var(--text);
}

@media (max-width: 960px) {
    .container {
        width: 100%;
    }

    main {
        padding: 16px;
    }

    main section .items {
        grid-template-columns: repeat(2, 1fr);
    }

    main section .items-skills {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media (max-width: 768px) {
    main section .items-skills {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 560px) {
    main section .items {
        grid-template-columns: repeat(1, 1fr);
    }
    
    main section .items-skills {
        grid-template-columns: repeat(4, 1fr);
    }
}
