header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 32px;
    margin-bottom: 32px;
    border-bottom: 8px dotted var(--accent);
}

header h1 {
    color: var(--accent);
    font-family: "Coming Soon", serif;
    font-size: 32px;
    font-weight: 900;
}

header nav {
    display: flex;
    justify-content: space-between;
    gap: 8px
}

header nav a {
    padding: 8px 16px;
    border-radius: 4px;
    transition: 0.3s;
}

header nav a:hover {
    background-color: var(--accent-hover) !important;
}

header nav a.selected  {
    background-color: var(--accent-selected);
}

@media (max-width: 960px) {
    header {
        width: 100%;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    header nav {
        margin-top: 16px;
    }
}