.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 32px;
    margin-top: 32px;
    border-top: 8px dotted var(--accent);
}

.footer p {
    font-size: var(--font-xsmall);
}

.footer nav {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.footer nav a {
    display: flex;
    justify-content: center;
    padding: 8px;
    border-radius: 4px;
    transition: var(--transition-speed) var(--transition-type);
}

.footer nav a svg {
    width: 24px;
    height: 24px;
    fill: var(--text);
}

.footer nav a:hover {
    background-color: var(--background-accent);
}

@media (max-width: 960px) {
    .footer {
        padding: 16px;
    }
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer nav {
        margin-top: 16px;
    }
}
