footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 32px;
    margin-top: 32px;
    border-top: 8px dotted var(--accent);
}

footer nav {
    display: flex;
    justify-content: space-between;
    gap: 8px
}

footer nav a {
    padding: 8px 16px;
    border-radius: 4px;
    transition: 0.3s;
}

footer nav a:hover {
    background-color: var(--accent-hover);
}

@media (max-width: 960px) {
    footer {
        padding: 16px;
    }
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: center;
    }

    footer nav {
        margin-top: 16px;
    }
}