@import url(../../../pages/home/home.module.css);

main .title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .title h1 {
    width: 100%;
    margin: 0 auto;
    margin-top: 16px;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

main .title p {
    width: 100%;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

main .title .subtitle {
    display: flex;
    justify-content: center;
    gap: 8px;
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 400;
    color: var(--text-accent);
}

main .title img {
    width: 75%;
    margin: 0 auto;
    aspect-ratio: 16/9;
    border-radius: 16px;
}

main .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .content h2 {
    width: 100%;
    font-size: 28px;
    font-weight: 700;
}

main .content p {
    width: 100%;
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 400;
    overflow-wrap: break-word;
}

main .content a {
    text-decoration: none;
    font-weight: 700;
}

main .content a:hover {
    text-decoration: underline;
}

main .content p img {
    display: block;
    margin: inherit auto;
}

main .content img {
    width: fit-content;
    max-width: 75%;
    margin: 8px auto;
    border-radius: 16px;
}

main .content code {
    padding: 2px;
    font-family: "Fira Code", Consolas, monospace;
    font-size: 18px;
    font-weight: 400;
    background-color: var(--background-accent);
    border: 1px solid var(--background-accent-2);
    border-radius: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

main .content pre {
    width: 100%;
    padding: 16px;
    margin: 8px 0;
    font-size: 18px;
    font-weight: 400;
    background-color: var(--background-accent);
    border: 1px solid var(--background-accent-2);
    border-radius: 5px;
    overflow-x: auto;
}

main .content pre code {
    padding: 0;
    background-color: transparent;
    border: none;
    white-space: pre-wrap;
    word-wrap: break-word;
}

main .content li {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
}

@media (max-width: 960px) {
    main .content img {
        max-width: 100%;
    }
}

@media (max-width: 860px) {
    main .title img {
        width: 100%;
    }
}
