@import url(../public/fonts/fonts.css);

@media (prefers-color-scheme: light) {
    html {
        color-scheme: light;
    }

    :root {
        --background: hsl(220, 13%, 95%);
        --background-accent: hsl(223, 14%, 90%);
        --background-accent-2: hsl(219, 14%, 80%);
        --background-hover: hsla(216, 37%, 8%, 0.1);

        --text: hsl(216, 37%, 8%);
        --text-accent: hsla(216, 37%, 8%, 0.25);

        --accent: hsl(215, 68%, 65%);
        --accent-hover: hsla(215, 68%, 65%, 0.5);
        --accent-selected: hsla(215, 68%, 65%, 0.25);

        --font-normal: "Poppins", system-ui, sans-serif;
        --font-title: "Coming Soon", "Poppins", system-ui, sans-serif;
        --font-code: "Fira Code", Consolas, monospace;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    :root {
        --background: hsl(216, 37%, 8%);
        --background-accent: hsl(216, 37%, 15%);
        --background-accent-2: hsl(216, 37%, 20%);
        --background-hover: hsla(220, 13%, 95%, 0.1);

        --text: hsl(220, 13%, 95%);
        --text-accent: hsla(220, 13%, 95%, 0.25);

        --accent: hsl(215, 68%, 65%);
        --accent-hover: hsla(215, 68%, 65%, 0.5);
        --accent-selected: hsla(215, 68%, 65%, 0.25);

        --font-normal: "Poppins", system-ui, sans-serif;
        --font-title: "Coming Soon", "Poppins", system-ui, sans-serif;
        --font-code: "Fira Code", Consolas, monospace;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text);
    color-scheme: light;
}

body {
    min-height: 100vh;
    font-family: var(--font-normal);
    background-color: var(--background);
}

img {
    pointer-events: none;
}

a {
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    text-decoration: underline;
}

hr {
    border: 0;
    border-bottom: 4px dotted var(--accent);
    margin: 16px 0;
}
