@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap");

:root {
    --background: #f5f5f5;
    --background-accent: hsl(0, 0%, 80%);

    --text: #0a0a0a;

    --accent: #699ce2;
    --accent-hover: #699ce280;
    --accent-selected: #699ce240;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text);
    color-scheme: light;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    background-color: var(--background);
}

img {
    pointer-events: none;
}

a {
    text-decoration: none;
}

hr {
    border: 0;
    border-bottom: 4px dotted var(--accent);
    margin: 16px 0;
}

