@import url(../public/fonts/fonts.css);

:root {
    /* Background Colours */
    --background: #f2f3f5;
    --background-accent: #e2e4e9;
    --background-accent-2: #c5cad3;
    --background-hover: #0d131c1c;

    /* Text Colours */
    --text: #0d131c;
    --text-accent: #0d131c40;

    /* Accent Colours */
    --accent: #699ce2;
    --accent-hover: #699ce280;
    --accent-selected: #699ce240;

    /* Font Families */
    --font-normal: "Poppins", system-ui, sans-serif;
    --font-title: "Coming Soon", "Poppins", system-ui, sans-serif;
    --font-code: "Fira Code", Consolas, monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text);
    color-scheme: light;
}

body {
    min-height: 100vh;
    font-family: var(--font-normal);
    background-color: var(--background);
}

img {
    pointer-events: none;
}

a {
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    text-decoration: underline;
}

hr {
    border: 0;
    border-bottom: 4px dotted var(--accent);
    margin: 16px 0;
}
